<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Cake Store Landing Page</title>
</head>
<body>
    <header>
        <div class="banner">Get free delivery in Harare CBD</div>
        <nav>
            <div id="logo">

                <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C14.476 0 10 4.476 10 10C10 11.657 10.695 13.136 11.829 14.071L11.207 15.499C9.934 14.115 8.438 13.437 7.148 13.228C5.249 12.933 3.658 13.998 2.8 15.778C1.955 17.53 2.524 19.517 3.994 20.246C5.643 21.085 7.684 20.99 9.064 19.808C9.765 19.276 10.175 18.497 10.365 17.698C12.244 18.493 14.494 18.004 16.204 16.767C17.649 15.744 17.84 13.988 16.746 12.722L19.069 10.847C20.692 9.452 22.933 9.45 24.564 10.837L24.982 9.409C26.077 7.868 27.497 7.192 28.964 7.482C30.863 7.777 32.453 8.841 33.307 10.623C34.122 12.395 33.552 14.293 32.174 15.065C30.949 15.84 28.937 15.217 27.747 13.763C26.992 12.858 26.258 11.955 25.509 11.044C23.89 10.328 22.004 10.746 20.804 12.276C19.814 13.498 18.253 14.066 16.65 14.017C16.233 14.063 15.786 14.167 15.366 14.306C16.394 15.36 17.5 16.123 18.535 16.947C19.497 17.715 20.508 18.378 21.56 18.515L20 20V0Z" fill="#45413E" />
                </svg>
                Becky's <br> Swee'treats
            </div>
            <ul class="navigation-menu">
                <li><a href="#">Products</a>
                    <ul class="subnav">
                        <li class="card-med" id="sup-chocolate">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake9.jpg') }}" alt="Cake"></div>
                            <a href="#">
                                <span>Chocolate</span>
                                <span>Shop All <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="sup-vanilla">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake6.jpg') }}" alt="Cake"></div>
                            <a href="#">
                                <span>Vanilla</span>
                                <span>Shop All <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="sup-redvelvet">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake7.jpg') }}" alt="Cake"></div>
                            <a href="#">
                                <span>Red Velvet</span>
                                <span>Shop All <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="sup-fruitcake">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake8.jpg') }}" alt="Cake"></div>
                            <a href="#">
                                <span>Fruit Cake</span>
                                <span>Shop All <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                    </ul>
                <li><a href="#">Services</a>
                    <ul class="subnav">
                        <li class="card-med" id="serv-groom">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake5.jpg') }}" alt="Cake"></div>
                            <a href="#">
                                <span>Choose Colours</span>
                                <span>More Info <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="serv-board">
                            <div class="card-image"><img src="{{ url_for('static', filename='images/cake4.jpg') }}" alt="Cake">></div>
                            <a href="#">
                                <span>Order</span>
                                <span>More Info<span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                    </ul>
                </li>
                <li><a href="#locate">Gallery</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
            </ul>
            <div id="utility">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </div>
        </nav>
    </header>
    <section class="hero">
        <h1>Indulge in Sweet Bliss Your One-Stop Shop for All Things Delicious!</h1>
        <div class="btn-group">
            <button class="btn-filled-dark"><span class="material-symbols-outlined">
                    shopping_cart
                </span>Shop All Products</button>
            <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
                    calendar_month
                </span> Order a Cake</button>
        </div>
    </section>
    <section>
        <h2>Shop by Flavor</h2>

        <ul class="shop-cakes">
            <li class="card-large card-light" id="sup-chocolate">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/cake1.jpg') }}" alt="Cake">

                </div>
                <ul>
                    Chocolate Cake
                    <li><a href="#">Chocolate Fudge Cake</a></li>
                    <li><a href="#">Chocolate Ganache Cake</a></li>
                    <li><a href="#">Chocolate Mousse Cake</a></li>

                    <button class="btn-outline-light">Shop All<span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>
            </li>

            <li class="card-large card-dark" id="sup-vanilla">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/cake2.jpg') }}" alt="Cake">
                </div>
                <ul>Vanilla Cake
                    <li><a href="#">Vanilla Buttercream Cake</a></li>
                    <li><a href="#">Vanilla Bean Cake</a></li>
                    <button class="btn-outline-dark">Shop All<span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>

            </li>

            <li class="card-large card-dark" id="redvelvet">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/cake3.jpg') }}" alt="Cake">
                </div>
                <ul>Red Velvet Cake
                    <li><a href="#">Classic Red Velvet</a></li>
                    <li><a href="#">Red Velvet with Cream Cheese Frosting</a></li>
                    <button class="btn-outline-dark">Shop All<span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>

            </li>
            <li class="card-large card-light" id="sup-fruitcake">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='images/cake11.jpg') }}" alt="Cake">
                </div>
                
                <ul>
                    Fruit Cake
                    <li><a href="#">Mixed Fruit Cake</a></li>
                    <li><a href="#">Tropical Fruit Cake</a></li>
                    <button class="btn-outline-light">Shop All<span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>

            </li>
        </ul>
    </section>

    <section>
        <h2>Our Services</h2>

        <ul class="services">
            <li class="card-large card-dark card-wide" id="serv-occasion">
                <div class="card-image"><img src="{{ url_for('static', filename='images/icon3.jpg') }}" alt="Cake">alt="Cake Decoration"></div>
                <ul>
                    Cake Baking for All Occasions
                    <span class="subtitle">From weddings to birthdays, we’ve got the perfect cake for your event!</span>
                    <li><a href="#">Birthday Cakes</a><span>$45+</span></li>
                    <li><a href="#">Wedding Cakes</a><span>$150+</span></li>
                    <li><a href="#">Anniversary Cakes</a><span>$120+</span></li>
                    <button class="btn-filled-dark"><span class="material-symbols-outlined">calendar_month</span> Book Now</button>
                </ul>
            </li>
            
            <li class="card-large card-dark card-wide" id="serv-decorating">
                <div class="card-image"><img src="{{ url_for('static', filename='images/icon2.jpg') }}" alt="Cake">alt="Cake Decoration"></div>
                <ul>
                    Cake Decoration
                    <span class="subtitle">Where fun and care never take a day off.</span>
                    <li><a href="#">Custom Decorations</a><span>$50+</span></li>
                    <li><a href="#">Themed Cakes</a><span>$70+</span></li>
                    <button class="btn-filled-dark"><span class="material-symbols-outlined">calendar_month</span> Book Now</button>
                </ul>
            </li>
            
        </ul>
    </section>

    <section id="locate">

        <div>
            <h2>Location & Hours</h2>
            <p>Our knowledgeable and friendly staff is always ready to assist you in making the best choices for your furry, feathered, or finned friends.</p>
            <div class="btn-group">
                <button class="btn-filled-dark"><span class="material-symbols-outlined">
pin_drop
</span>Find a Store</button>
                <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
contact_support
</span> Contact Us</button>
            </div>
        </div>
    </section>

    <footer>

        <ul>
            Products
            <li><a href="#">Cakes</a></li>
            <li><a href="#">Pastry</a></li>
            <li><a href="#">Muffins</a></li>
            <li><a href="#">Biscuits</a></li>
            <li><a href="#">Halfmoon</a></li>
        </ul>

        <ul>
            Shop by Flavor
            <li><a href="#">Vanilla</a></li>
            <li><a href="#">Chocolate</a></li>
            <li><a href="#">Berry</a></li>
            <li><a href="#">Fruit</a></li>
        </ul>

        <ul>
            Our Services
            <li><a href="#">Baking</a></li>
            <li><a href="#">Cooking</a></li>
        </ul>
        <ul>
            Our Company
            <li><a href="#">Locations & Hours</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </footer>
</body>
</html>